<!-- Plan Salaries  -->
<div class="plans">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="plansHead">
                    <h1>CHOOSE YOUR PLAN</h1>
                    <div class="down-shape d-flex">
                        <img class="img-fluid" src="../../../../assets/imgs/line.png" alt="shape" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="plansSwap">
                    <label class="d-inline-block active month">Monthly</label>
                    <label class="d-inline-block year">Yearly</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="planSlaray text-center text-center">
                    <h3>Stared</h3>
                    <div class="planCash">
                        <h5 class="d-inline-block">$15.6</h5>
                        <span class="d-inline-block">/Month</span>
                    </div>
                    <div class="planFeature">
                        <p>2,5 GB web space</p>
                        <p>Free site buiding tools</p>
                        <p>Free domain registar</p>
                        <p>24/7 Support</p>
                        <p>Free marketing tool</p>
                        <p>99,9% Services uptime</p>
                        <p>30 day money back</p>
                    </div>
                    <div class="planBtn">
                        <button type="button" class="btn">
                            CHOOSE PLAN
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="planSlaray text-center">
                    <h3>Stared</h3>
                    <div class="planCash">
                        <h5 class="d-inline-block">$15.6</h5>
                        <span class="d-inline-block">/Month</span>
                    </div>
                    <div class="planFeature">
                        <p>2,5 GB web space</p>
                        <p>Free site buiding tools</p>
                        <p>Free domain registar</p>
                        <p>24/7 Support</p>
                        <p>Free marketing tool</p>
                        <p>99,9% Services uptime</p>
                        <p>30 day money back</p>
                    </div>
                    <div class="planBtn">
                        <button type="button" class="btn">
                            CHOOSE PLAN
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="planSlaray text-center">
                    <h3>Stared</h3>
                    <div class="planCash">
                        <h5 class="d-inline-block">$15.6</h5>
                        <span class="d-inline-block">/Month</span>
                    </div>
                    <div class="planFeature">
                        <p>2,5 GB web space</p>
                        <p>Free site buiding tools</p>
                        <p>Free domain registar</p>
                        <p>24/7 Support</p>
                        <p>Free marketing tool</p>
                        <p>99,9% Services uptime</p>
                        <p>30 day money back</p>
                    </div>
                    <div class="planBtn">
                        <button type="button" class="btn">
                            CHOOSE PLAN
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="planSlaray text-center">
                    <h3>Stared</h3>
                    <div class="planCash">
                        <h5 class="d-inline-block">$15.6</h5>
                        <span class="d-inline-block">/Month</span>
                    </div>
                    <div class="planFeature">
                        <p>2,5 GB web space</p>
                        <p>Free site buiding tools</p>
                        <p>Free domain registar</p>
                        <p>24/7 Support</p>
                        <p>Free marketing tool</p>
                        <p>99,9% Services uptime</p>
                        <p>30 day money back</p>
                    </div>
                    <div class="planBtn">
                        <button type="button" class="btn">
                            CHOOSE PLAN
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Plan Salaries end -->