<!-- Rcords Area  -->
<div class="RecordArea text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="recordItem mb-3">
                    <i class="fas fa-user"></i>
                    <h4>
                        <span class="timer" data-from="1" data-to="900" data-speed="5000"
                            data-refresh-interval="50">900</span>
                    </h4>
                    <p>
                        Clients
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="recordItem mb-3">

                    <i class="fas fa-edit"></i>
                    <h4>
                        <span class="timer" data-from="1" data-to="650" data-speed="5000"
                            data-refresh-interval="50">5000</span>
                    </h4>
                    <p>
                        Domains
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="recordItem mb-3">

                    <i class="far fa-clone"></i>
                    <h4>
                        <span class="timer" data-from="1" data-to="900" data-speed="5000"
                            data-refresh-interval="50">4000</span>
                    </h4>
                    <p>
                        Servers
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="recordItem mb-3">

                    <i class="fas fa-cog"></i>
                    <h4>
                        <span class="timer" data-from="1" data-to="550" data-speed="5000"
                            data-refresh-interval="50">2500</span>
                    </h4>
                    <p>
                        Installs
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Rcords Area  End -->
<!-- How i can Build Area  -->
<div class="BuildSite text-center">
    <div class="container">
        <h1>HOW TO BUILD YOUR WEBSITE ONLINE TODAY?</h1>
        <div class="down-shape d-flex mx-auto">
            <img class="img-fluid" src="../../../../assets/imgs/line.png" alt="shape" />
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="buildContent">
                    <div class="row">
                        <div class="col-md">
                            <div class="buildItem">
                                <i class="fas fa-desktop"></i>
                                <span class="d-block">CREATE YOUR OWN WEBSITE WITH OUR</span>
                                <h4>WEB SITE BUILDER</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Quis ipsum suspendisse ultrices gravida facilisis.
                                </p>
                                <div class="ItemBtn">
                                    <button type="button" class="btn">
                                        READ MORE
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="buildItem">
                                <i class="fas fa-globe"></i>
                                <span class="d-block">EASY CREATE, MANAGE & SELL WITH OUR
                                </span>
                                <h4>ONLINE STORE</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Quis ipsum suspendisse ultrices gravida facilisis.
                                </p>
                                <div class="ItemBtn">
                                    <button type="button" class="btn">
                                        READ MORE </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- How i can Build Area end -->