<!-- Team Started  -->
<div class="TeamArea">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="plansHead">
                    <h3>MEET OUR TEAM</h3>
                    <div class="down-shape d-flex">
                        <img class="img-fluid" src="../../../../assets/imgs/line.png" alt="shape" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="View">
                    <a href="#" class="btn">View All</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="card mb-3">
                    <div class="no-gutters">
                        <div class="cardImg">
                            <img src="../../../../assets/imgs/team/team-1.jpg" class="card-img img-fluid" alt="team">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Diaa ibrahiem</h5>
                            <span class="d-inline-block">Chief executive officer</span>
                            <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                            <div class="card-text Contact">
                                <ul class="list-unstyled social">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="card mb-3">
                    <div class="no-gutters">
                        <div class="cardImg">
                            <img src="../../../../assets/imgs/team/team-2.jpg" class="card-img img-fluid" alt="team">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Diaa ibrahiem</h5>
                            <span class="d-inline-block">Chief executive officer</span>
                            <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                            <div class="card-text Contact">
                                <ul class="list-unstyled social">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="card mb-3">
                    <div class="no-gutters">
                        <div class="cardImg">
                            <img src="../../../../assets/imgs/team/team-3.jpg" class="card-img img-fluid" alt="team">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Sabrina Carpenter
                            </h5>
                            <span class="d-inline-block">Chief executive officer</span>
                            <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                            <div class="card-text Contact">
                                <ul class="list-unstyled social">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="card mb-3">
                    <div class="no-gutters">
                        <div class="cardImg">
                            <img src="../../../../assets/imgs/team/team-4.jpg" class="card-img img-fluid" alt="team">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Sabrina Carpenter
                            </h5>
                            <span class="d-inline-block">Chief executive officer</span>
                            <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                            <div class="card-text Contact">
                                <ul class="list-unstyled social">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Team Started End -->