<!-- start Contact US  -->
<div class="contactUs">
    <div class="container">
        <h1>SEND MESSAGE </h1>
        <div class="FormContact">
            <form action="" method="post">
                <div class="row">
                    <div class="col-md">
                        <div class="form-group">
                            <input id="my-input" placeholder="Name" class="form-control" type="text" name="">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <input id="my-input" placeholder="Email" class="form-control" type="text" name="">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <input id="my-input" placeholder="Website" class="form-control" type="text" name="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea placeholder="Question" id="my-textarea" class="form-control" name="" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <input id="my-input" class="form-control" type="submit" name="" value="send">
                </div>

            </form>
        </div>
    </div>
</div>
<!-- start Contact US  -->