<!-- REGISTER section  -->
<div class="register">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="text-center">REGISTER YOUR DOMAIN NOW!</h1>
                <div class="down-shape d-flex mx-auto">
                    <img class="img-fluid" src="../../../../assets/imgs/line.png" alt="shape" />
                </div>
                <form method="get" action="" class="registerForm">
                    <div class="form-group">
                        <input id="my-input" placeholder="ex:cloudhost" class="form-control" type="text" name="" />
                        <select id="my-select" class="form-control" name="">
                            <option>.com</option>
                            <option>.org</option>
                            <option>.co</option>
                        </select>
                        <input class="form-control" type="button" value="search" />
                    </div>
                </form>

                <ul class="list-unstyled domain d-flex text-center">
                    <li><span class="d-inline-block">.com </span> <span class="money d-inline-block">$ 165</span></li>
                    <li><span class="d-inline-block">.com </span> <span class="money d-inline-block">$ 165</span></li>
                    <li><span class="d-inline-block">.com </span> <span class="money d-inline-block">$ 165</span></li>
                    <li><span class="d-inline-block">.com </span> <span class="money d-inline-block">$ 165</span></li>
                    <li><span class="d-inline-block">.com </span> <span class="money d-inline-block">$ 165</span></li>

                </ul>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A sed est
                    illo adipisci quod nostrum? Neque quo in pariatur, voluptas rem
                </p>
            </div>
        </div>
    </div>
</div>
<!-- REGISTER section end  -->