<!-- discount  section  -->
<div class="discount">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="discountImg">
                    <img class="img-fluid" src="../../../../assets/imgs/choose-plan.png" alt="">
                </div>
            </div>
            <div class="col-sm">
                <div class="discountData">
                    <h1>up to 70% discount with free domain name registration included!</h1>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-check"></i> FREE Domain Name</li>
                        <li><i class="fas fa-check"></i> FREE Domain Name</li>
                        <li><i class="fas fa-check"></i> FREE Domain Name</li>
                        <li><i class="fas fa-check"></i> FREE Domain Name</li>
                        <li><i class="fas fa-check"></i> FREE Domain Name</li>
                    </ul>
                    <button class="btn">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- discount  section end -->