<!-- Have A question   -->
<div class="Questions">
    <div class="container">
        <h1 class="text-center">HAVE A QUESTIONS? </h1>
        <div class="down-shape d-flex">
            <img class="img-fluid" src="../../../../assets/imgs/line.png" alt="shape" />
        </div>
        <div class="row">
            <div class="col-md">
                <div class="accord">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        <i class="fas fa-plus-circle d-inline-block"></i><span class="d-inline-block">
                                            do I cancel and
                                            delete my account?</span>
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        <i class="fas fa-plus-circle d-inline-block"></i><span class="d-inline-block">
                                            Can I get my website listed in Google?</span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <i class="fas fa-plus-circle d-inline-block"></i><span class="d-inline-block">
                                            Can I run a business?</span> </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="FormContact">
                    <form action="" method="post">
                        <div class="form-group">
                            <input id="my-input" placeholder="Name" class="form-control" type="text" name="">
                        </div>
                        <div class="form-group">
                            <input id="my-input" placeholder="Email" class="form-control" type="text" name="">
                        </div>
                        <div class="form-group">
                            <input id="my-input" placeholder="Website" class="form-control" type="text" name="">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Question" id="my-textarea" class="form-control" name=""
                                rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <input id="my-input" class="form-control" type="submit" name="" value="send">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Have A question  End -->