<!-- Host feature  -->
<div class="hostSolution">
    <div class="container">
        <h1 class="text-center">OUR HOSTING FEATURES
        </h1>
        <div class="down-shape d-flex mx-auto">
            <img class="img-fluid" src="../../../../assets/imgs/line.png" alt="shape" />
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="host text-center">
                    <i class="fas fa-cloud-upload-alt"></i>
                    <h4>Auto update
                    </h4>
                    <p>
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="host text-center">
                    <i class="fas fa-sliders-h"></i>
                    <h4>Optimized software

                    </h4>
                    <p>
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="host text-center">
                    <i class="fas fa-database"></i>
                    <h4>Daily backups

                    </h4>
                    <p>
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="host text-center">
                    <i class="fas fa-globe"></i>
                    <h4>Wide networking

                    </h4>
                    <p>
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="host text-center">
                    <i class="fas fa-shield-alt"></i>
                    <h4>Protected
                    </h4>
                    <p>
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="host text-center">
                    <i class="fas fa-headphones"></i>
                    <h4>Free support

                    </h4>
                    <p>
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Host feature  -->