<!-- About welcome  -->
<div class="aboutWelcome">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="welcomeImg">
                    <img class="img-fluid" src="../../../../assets/imgs/about-us.png" alt="about">
                </div>
            </div>
            <div class="col-md">
                <div class="WlecomeRecord">
                    <h2>WELCOM TO DEERHOST </h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, esse? Explicabo reiciendis
                        impedit quos optio sequi, libero facere corrupti quas! Commodi, delectus neque deleniti
                        inventore quaerat alias tempora aliquam similique!
                    </p>
                    <div class="recordData">
                        <div class="recordItem mb-3">
                            <i class="far fa-user"></i>
                            <h4>
                                <span class="timer" data-from="1" data-to="900" data-speed="5000"
                                    data-refresh-interval="50">900</span>
                            </h4>
                            <p>
                                Clients
                            </p>
                        </div>
                        <div class="recordItem mb-3">
                            <i class="fas fa-edit"></i>
                            <h4>
                                <span>900</span>
                            </h4>
                            <p>
                                domains
                            </p>
                        </div>
                        <div class="recordItem mb-3">
                            <i class="far fa-clone"></i>
                            <h4>
                                <span class="timer" data-from="1" data-to="900" data-speed="5000"
                                    data-refresh-interval="50">900</span>
                            </h4>
                            <p>
                                servers
                            </p>
                        </div>
                        <div class="recordItem mb-3">
                            <i class="fas fa-cog"></i>
                            <h4>
                                <span class="timer" data-from="1" data-to="900" data-speed="5000"
                                    data-refresh-interval="50">900</span>
                            </h4>
                            <p>
                                installs
                            </p>
                        </div>
                    </div>
                    <div class="RecordBtn">
                        <button class="btn">
                            Get Started
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script type="text/javascript">$('.timer').countTo();</script> -->
<!-- About welcome  -->