<!-- Hosting Plans section  -->
<section class="Hosting">
    <div class="container">
        <h1 class="text-center">WEB HOSTING PLAN PERFECT FOR YOU!</h1>
        <div class="down-shape d-flex">
            <img class="img-fluid" src="../../../../assets/imgs/line.png" alt="shape" />
        </div>

        <div class="HostPlanHeader">
            <div class="hostType active">
                <i class="fas fa-server"></i>
                <span class="d-block">Web Hosting</span>
            </div>
            <div class="hostType">
                <i class="fas fa-ethernet"></i>
                <span class="d-block">Web Hosting</span>
            </div>
            <div class="hostType">
                <i class="fas fa-globe"></i>
                <span class="d-block">Web Hosting</span>
            </div>
            <div class="hostType">
                <i class="fas fa-network-wired"></i>
                <span class="d-block">Web Hosting</span>
            </div>
            <div class="hostType">
                <i class="fas fa-cloud"></i>
                <span class="d-block">Web Hosting</span>
            </div>
        </div>
        <div class="HostTable">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col " id="TabelHeadOne">
                                <span>All Shared Hosting Features </span>
                                <h4>CHOOSE PERFECT PLAN </h4>
                            </th>
                            <th scope="col " class="tableHead text-center">
                                <h4>Started</h4>
                                <h3>$3.90 </h3>
                                <span>month</span>
                                <a href="#" class="btn">Buy Now</a>
                            </th>
                            <th scope="col " class="tableHead text-center">
                                <h4>Business</h4>
                                <h3>$5.90 </h3>
                                <span>month</span>
                                <a href="#" class="btn">Buy Now</a>
                            </th>
                            <th scope="col " class="tableHead text-center">
                                <h4>Premium</h4>
                                <h3>$8.90 </h3>
                                <span>month</span>
                                <a href="#" class="btn">Buy Now</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="TableRow" scope="row"><span class="d-inline-block">Number of Websites </span>
                            </th>
                            <td class="TableRow"><span class="d-inline-block">1 Website</span> </td>
                            <td class="TableRow"> <span class="d-inline-block">Multiple Websites</span> </td>
                            <td class="TableRow"> <span class="d-inline-block">Multiple Websites</span> </td>
                        </tr>
                        <tr class="TabelRow">
                            <th class="TableRow" scope="row"><span class="d-inline-block">Free Domain Registration
                                </span></th>
                            <td class="TableRow"> <span> <i class="fas fa-check-circle"></i></span> </td>
                            <td class="TableRow"> <span> <i class="fas fa-check-circle"></i></span> </td>
                            <td class="TableRow"> <span> <i class="fas fa-check-circle"></i></span> </td>
                        </tr>
                        <tr class="TabelRow">
                            <th class="TableRow" scope="row"><span class="d-inline-block">Web Space </span></th>
                            <td class="TableRow"><span class="d-inline-block">5,000MB </span></td>
                            <td class="TableRow"> <span class="d-inline-block">MUnlimited</span> </td>
                            <td class="TableRow"><span class="d-inline-block">Unlimited</span></td>
                        </tr>
                        <tr class="TabelRow">
                            <th class="TableRow" scope="row"><span class="d-inline-block">Email Accounts </span>
                            </th>
                            <td class="TableRow"> <span class="d-inline-block">30</span> </td>
                            <td class="TableRow"> <span class="d-inline-block">Unlimited</span> </td>
                            <td class="TableRow"> <span class="d-inline-block">Unlimited</span> </td>
                        </tr>
                        <tr class="TabelRow">
                            <th class="TableRow" scope="row"><span class="d-inline-block">MySQL Databases
                                </span></th>
                            <td class="TableRow"> <span> <i class="fas fa-check-circle"></i></span> </td>
                            <td class="TableRow"> <span> <i class="fas fa-check-circle"></i></span> </td>
                            <td class="TableRow"> <span> <i class="fas fa-check-circle"></i></span> </td>
                        </tr>
                        <tr class="TabelRow">
                            <th class="TableRow" scope="row"><span class="d-inline-block">Free App Store
                                </span></th>
                            <td class="TableRow"> <span> <i class="fas fa-check-circle"></i></span> </td>
                            <td class="TableRow"> <span> <i class="fas fa-check-circle"></i></span> </td>
                            <td class="TableRow"> <span> <i class="fas fa-check-circle"></i></span> </td>
                        </tr>
                        <tr class="TabelRow">
                            <th class="TableRow" scope="row"><span class="d-inline-block">cPanel Control Panel
                                </span></th>
                            <td class="TableRow"> <span><i class="fas fa-times-circle"></i></span> </td>
                            <td class="TableRow"> <span> <i class="fas fa-check-circle"></i></span> </td>
                            <td class="TableRow"> <span> <i class="fas fa-check-circle"></i></span> </td>
                        </tr>
                        <tr class="TabelRow">
                            <th class="TableRow" scope="row"><span class="d-inline-block">cPanel Control Panel
                                </span></th>
                            <td class="TableRow"> <span>20GB</span> </td>
                            <td class="TableRow"> <span> <i class="fas fa-check-circle"></i></span> </td>
                            <td class="TableRow"> <span> <i class="fas fa-check-circle"></i></span> </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>
<!-- Hosting Plans section End -->